%h1
  Checkout successful!
%p
  What happens after this?
  %ul
    %li
      You will receive email to confirm your request(s).
    %li
      An email has been sent to admin to process you request(s).