= javascript_include_tag 'page_related/carts'
%h1
  Check Out

- if @item.nil? or @item.count < 1
  No item to check out
- else
  %p
    %img{ :src=>"/images/cart.png", :alt=>"Shopping Cart"}
    %b
      %a{ :href=>"/cart/checkout"}
        Confirm Check Out

  %table{:id => "list_table", :class => "display"}
    %thead
      %tr
        %th
          Name
        %th
          Author
        %th
          Description
        %th
          &nbsp;

    %tbody
      %tr
        %td{ :colspan => "4" }
          Loading data from server
    %tfoot
      %tr
        %td{ :colspan => "4"}

%br

