%h1
  Listings

%input{ :type => "hidden", :id => "sub_category_id", :value =>"#{@list.sub_category_id}"}
%table{:id => "list_table", :class => "display"}
  %thead
    %tr
      %th
        Name
      %th
        Author
      %th
        Status
      %th
        Description
      %th
        Category
      %th
        &nbsp;
  %tbody
    %tr
      %td{ :colspan => "6" }
        Loading data from server
  %tfoot
    %tr
      %td{ :colspan => "6"}
        &nbsp;
%br
