%h1
  Borrowing Etiquettes
  
%p
  %b
    Q. Who can borrow from Resource Library?
  %ul
    %li
      It is only available for Praise &amp; Worship team ONLY
      
%p
  %b
    Q. How long can I borrow resources for?
  %ul
    %li
      CD/DVD: 1 week
    %li
      Printed Material: 2 weeks
    %li
      CD/DVD and Printed materials: 2 weeks
      
%p
  %b
    Q. How many items can I borrow at any one time?
  %ul
    %li
      2 CDs/DVD or
    %li
      2 printed materials or
    %li
      1 CD/DVD and 1 printed material

%p
  %b
    Q. Can I pass on a borrowed item if another team member needs it?
  %ul
    %li
      Transferring items are not allowed
      
%p
  %b
    Q. What should I do if I could not return borrowed items on time?
  %ul
    %li
      Written notice(email) need to be sent to Resource Manager before due date to ask for renewal date. Items can only be renewed ONCE.
      
%p
  %b
    Q. What would happen if resources I borrowed is overdue?
    
  %ul
    %li
      $1 fine is not applied per day for each item and resources need to be returned ASAP.
    %li
      An email will be sent by Resource Manager to remind you of fine amount.
    %li
      Upon returning overdue items, fines also need to be given to Resource Manager and receipt is given.

%p
  %b
    Q. What will the money be used for?
  %ul
    %li
      It is going towards investment of new resources.
      
      