html {
  height: 100%;
  overflow: scroll;
  margin: 0px;
  padding: 0px;
}
body { 
  background-color: #ffffff;
  color: #666666; 
  margin: 0px;
  padding: 0px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #666666; }
a:visited { color: #666666; }
a:hover { color: #cccccc; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#container {
  margin-left: 10px ;
  margin-right: 5px ;
  position: absolute;
  margin-top: 40px;
  width: 100%;
  /* border: #666666 1px solid; */
}

#content {
  margin-left: 180px;
  position: absolute;
  float: left;
  padding: 10px;
  margin-right: 10px;
  border-left: solid 1px #666666;
 
}


#navigation {
  float: left;
  width: 170px;
  margin-top: 30px;
}

.nav_list {
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
}
.nav_list li {
  background-image: url(/images/bullet_arrow.png);	
  background-repeat: no-repeat;
  background-position: 0 .5em;
  padding-left: 20px;
  padding-bottom: 10px;
}

#login_form {
  margin-top: 40px;
  width: 360px;  
  position: relative;

}

#login_form form {
  margin-left: 20px;
}

#login_form h2 {
  margin-left: 20px;
}

#header_content {
  background-color: #CCCCCC;
  margin: 10px;
  padding: 0px;
  height: 100px;
  position: inherit;

  border-bottom: #666666 1px solid;
  
  border: #666666 1px solid;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
}

#banner {
  margin-top: 0px;
  margin-left: 20px;
  position: static;
}


#logo {
  margin-top: 0px;
  padding: 0px;
  position: static;
}


#login_section {
  float: left;  
  position: inherit;
  margin-left: 20px;
}

#login_section a:hover { color: black; }

#checkout_section {
  float: right;
  position: relative;
  margin-right: 20px;
}

#checkout_section a { 
  color: #666666;
  font-size: 18px;
}
#checkout_section a:visited { color: #666666; }
#checkout_section a:hover { color: black; }

.main_menu ul {
}

.main_menu li {
  list-style-position: outside;
}

.text_box_wrapper {
  width: 250px; 
  height: 30px; 
  background-color: #ffffff;
  border: #666666 1px solid;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;

}

.text_box {
  width: 230px; 
  height: 20px; 
  background-color: transparent; 
  position: relative; 
  top: 5px; 
  left: 10px; 
  border-style: none;
}

.text_area_wrapper {
  width: 250px; 
  height: 100px; 
  background-color: #ffffff;
  border: #666666 1px solid;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;

}

.text_area {
  width: 230px; 
  height: 80px; 
  background-color: transparent; 
  position: relative; 
  top: 5px; 
  left: 10px; 
  border-style: none;
}