html {
  height: 100%;
  overflow: scroll;
}
body { 
  background-color: #666666;
  background-image:url('/images/bg-main.png');
  color: #ffffff; 
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #ffffff; }
a:visited { color: #ffffff; }
a:hover { color: #cccccc; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#container {
  margin-left: 10px ;
  margin-right: 5px ;
  position: absolute;
  margin-top: 40px;
  /* border: #666666 1px solid; */
}

#content {
  margin-left: 10px;
  float: left;
  width: 800px;
}

#navigation {
  float: left;
  width: 150px;
  margin-top: 30px;
}

#login_form {
  margin-top: 40px;
  width: 360px;
  
  position: relative;
}

#header_content {
  margin-left: 2px;
  margin-right: 2px;

}

#login_section {
  float: left;  
	position: inherit;
}

#checkout_section {
  float: right;
	position: relative;
}

.main_menu ul {
}

.main_menu li {
	list-style-position: outside;
}