.dataTables_info {
	width: 60%;
	float: right;
	text-align:right;
	margin-top: 10px;
}

table.display {
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
}

table.display thead th {
  background-color: #666666;
  padding: 3px 18px 3px 10px;
  border: 1px solid black;
  font-weight: bold;
  cursor: pointer;
  * cursor: hand;
}

table.display tfoot  {
  display: none;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
  padding: 3px 10px;
  border: 1px solid black;
}

table.display td.center {
	text-align: center;
}

.sorting_asc {
	background: url('../images/ascending.png') no-repeat center right;
}

.sorting_desc {
	background: url('../images/descending.png') no-repeat center right;
}


.dataTables_wrapper {
  position: relative;
  clear: both;
  _height: 302px;
  zoom: 1; /* Feeling sorry for IE */	
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

.dataTables_length {
	width: 40%;
	float: right;
	text-align: right;
	margin-bottom: 10px;
}

.dataTables_filter {
	width: 50%;
	float: left;
	text-align: left;
	margin-bottom: 10px;
}

.dataTables_info {
	width: 60%;
	float: right;
}


.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('../images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('../images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('../images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('../images/forward_enabled.jpg');
}


.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
	margin-top: 10px;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers span.paginate_button {
	background-color: #666666;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #3399CC;
}

.odd {
  background-color: #3399CC;	
  color: black;
}
