= javascript_include_tag 'page_related/requests'
%h1
  Requests

%table{:id => "list_table", :class => "display"}
  %thead
    %tr
      %th
        Item Name
      %th
        Sub Category
      %th
        Requester
      %th
        Requested At
      %th
        &nbsp;
      %th
        &nbsp;

  %tbody
    %tr
      %td{ :colspan => "6" }
        Loading data from server
  %tfoot
    %tr
      %td{ :colspan => "6"}
