%h1
  Contact Us

Borrowing enquiries
%ul
  %li
    %a{ :href=>"mailto:k_c_333@hotmail.com" }
      Kelly Chen
    ( k_c_333@hotmail.com )

New resource, rules, and other enquiries:    
%ul
  %li
    Darebin Centre - 
    %a{ :href=>"mailto:c_mingxiu@yahoo.com.sg" }
      MX
    ( c_mingxiu@yahoo.com.sg )
    
  %li
    Melbourne City - 
    %a{ :href=>"mailto:esther_kailimang@yahoo.com" }
      Esther Kailimang
    ( esther_kailimang@yahoo.com )