= javascript_include_tag 'page_related/sub_categories'
%h1
  Sub Categories


%table{:id => "list_table", :class => "display"}
  %thead
    %tr
      %th
        Name
      %th
        Description
      %th
        Category
      %th
        &nbsp;
      %th
        &nbsp;
  %tbody
    %tr
      %td{ :colspan => "5" }
        Loading data from server
  %tfoot
    %tr
      %td{ :colspan => "5"}
%br
= link_to 'New Sub category', new_sub_category_path
