= javascript_include_tag 'page_related/items'
%h1
  Items

%table{:id => "list_table", :class => "display"}
  %thead
    %tr
      %th
        Name
      %th
        Author
      %th
        Sub Category
      %th
        Active
      %th
        Loaned
      %th
        &nbsp;
      %th
        &nbsp;

  %tbody
    %tr
      %td{ :colspan => "7" }
        Loading data from server
  %tfoot
    %tr
      %td{ :colspan => "7"}
%br

= link_to 'New Item', new_item_path
