= javascript_include_tag 'page_related/categories'
%h1
  Listing categories

%table{:id => "list_table", :class => "display"}
  %thead
    %tr
      %th
        Name
      %th
        Description
      %th
        &nbsp;
      %th
        &nbsp;
      %th
        &nbsp;
  %tbody
    %tr
      %td{ :colspan => "5" }
        Loading data from server
  %tfoot
    %tr
      %td{ :colspan => "5"}

%br

= link_to 'New Category', new_category_path
